@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  /* --primary-color: #edf2f8; */
  --primary-color: #1F1F1F;
  --secondary-color: #A882DD;
  --skyblue-color: #64bce2;
  --black-color: #141414;
  --lightGray-color: #e4e4e4;
  --neonGreen-color: #58ff87;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  
}